
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  color: #1a1a1a;
  margin-bottom: 30px;
  text-align: center;
}
button{
  cursor: pointer;
}